{{outlet}}
<ul class="nav">
	<li class="nav-item">
		{{#link-to "page-proposal" classNames="nav-link" }}
			page-proposal
		{{/link-to}}
	</li>
	<li class="nav-item">
		{{#link-to "page-scenario" classNames="nav-link" }}
			page-scenario
		{{/link-to}}
	</li>
</ul>