.login {
	background-image: url("/images/img_login-ucb-bg.png");
	background-size: cover;
	flex: 1;
	height: 100%;

	// div.input {
	// 	flex: 1;
	// 	position: relative;

	// 	.area {
	// 		left: 50%;
	// 		position: absolute;
	// 		top: 50%;
	// 		transform: translate(-50%, -50%);

	// 		.title {
	// 			@extend %title;
	// 		}

	// 		.desc {
	// 			@extend %p-secondary;
	// 			margin-bottom: 54px;
	// 		}
	// 	}
	// }

	// div.img {
	// 	background-image: url("https://i.loli.net/2019/04/22/5cbd9393f20db.png");
	// 	background-size: cover;
	// 	flex: 1;
	// }
	.login-content {
		background: #ffffff;
		border-radius: 12px;
		box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25);
		height: 425px;
		width: 960px;

		.content-left {
			padding: 80px;
			width: 480px;

			.logo-img-part {
				width: 100%;

				.logo-img {
					height: 33px;
					margin-bottom: 40px;
				}
			}


			.title {
				color: $n800;
				font-size: 24px;
				margin-bottom: 40px;
			}

			.login-options {
				color: #5e6c84;
				font-size: 14px;
				width: 100%;

				.forget-pwd {
					cursor: pointer;
				}

				.offcial-web {
					cursor: pointer;

					.logo {
						height: 14px;
						width: 14px;
					}
				}
			}

			& > div {
				width: 100%;
			}

			:global(.LoginPage) {
				input {
					border: 0.5px solid #dfe1e6 !important;
					height: 40px !important;
				}

				button {
					background-color: $b400;
					font-size: 14px;
					height: 40px !important;
				}
			}
		}

		.login-img {
			border-radius: 0 12px 12px 0;
			height: 425px;
			width: 480px;
		}
	}
}
