<div local-class="products-container reference-content">
	<div local-class="trend" class="mb-4 py-3 px-4 bg-white">
		<div local-class="trend-line">
			{{bp-line/tm
				title="产品份额竞争趋势"
				subText='整个地区'
				eid='lineNational'
				lineData=model.lineDataTm
				yAsixName='%'
				lineColor=model.lineColorTm}}
		</div>
	</div>
	{{#each model.goodsConfigs as |item|}}
		{{product-info goods=item}}
	{{/each}}
</div>