{{#bp-layout direction="col" local-class="page-report" 
	classNames="p-4"}}
	{{#bp-page-header local-class='report-header' class="mb-4 bg-white" as |ph|}}
		{{#ph.body as |body|}}
			{{#body.left as |left|}}
				{{#left.item }}
					测试综合表现
				{{/left.item}}
				{{#left.item }}
					日期：<span class="mx-2">2019-02-05*</span>
					用时：<span class="mx-2">50min* </span>
				{{/left.item}}
			{{/body.left}}
			{{#body.right}}
				{{#bp-button disabled=true onClick=(action 'toResult') classNames="mr-1"}}
					导出测试数据
				{{/bp-button}}
				{{#bp-button onClick=(action 'toResult')}}
					返回报告
				{{/bp-button}}
			{{/body.right}}
		{{/ph.body}}
	{{/bp-page-header}}
	{{#bp-layout tagName='h3' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4 bg-white"}}
		综合表现
	{{/bp-layout}}
	{{#bp-layout main="between" local-class="performance"}}
		{{#bp-layout direction="col" main="between" local-class="item"
			classNames="mr-2"}}
			{{#bp-layout direction='col' classNames='p-4 bg-white'}}
				{{#bp-layout tabName='h4' cross='center' local-class="title" 
					classNames='mb-4'}}
					能力得分
				{{/bp-layout}}
				{{#bp-layout cross='center' local-class='score content' classNames='mb-2'}}
					{{#bp-layout main='center' cross='center' local-class='img-container'}}
						<img src="https://www.easyicon.net/api/resizeApi.php?id=1121550&size=128" alt="">
					{{/bp-layout}}
					{{#bp-layout cross='center' local-class="text" classNames='ml-4'}}
						等级描述，基于『确定』和『自然』的设计价值观和模块化的解决方案，让设计者专注于更好的用户体验。
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
			{{#bp-layout direction='col' classNames='p-4 bg-white'}}
				{{#bp-layout tabName='h4' cross='center' local-class="title" 
					classNames='mb-4'}}
					荣获称号
				{{/bp-layout}}
				{{#bp-layout cross='center' local-class='won-title content'}}
					{{#bp-layout direction='col' main='center' local-class='img-container'}}
						<img src="https://i.loli.net/2019/05/13/5cd8db8f8d3db53613.png" alt="">
						<p class="m-0 text-center">S级*</p>
					{{/bp-layout}}
					{{#bp-layout cross='center' local-class="text" classNames='ml-4'}}
						等级描述，基于『确定』和『自然』的设计价值观和模块化的解决方案，让设计者专注于更好的用户体验。
					{{/bp-layout}}
				{{/bp-layout}}
			{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout local-class="item" classNames="bg-white"}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout tagName='h3' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4 bg-white"}}
		分项表现
	{{/bp-layout}}
	{{#bp-layout direction='col' classNames='bg-white'}}
		{{#bp-layout tagName='h4' cross='center' local-class="title" 
		classNames="m-0 mb-2 px-4"}}
			区域划分能力
		{{/bp-layout}}
		{{#bp-layout main='between'	local-class='abilities'}}
			{{#bp-layout direction='col' main='center' cross='center' local-class='item score'}}
				<p local-class='keys'>能力得分</p>
				<img width='26' src="https://www.easyicon.net/api/resizeApi.php?id=1121550&size=128" alt="">
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item point' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					动作点解读
				{{/bp-layout}}
				<ul>
					<li local-class='values'> 具备对信息、数字、咨询的敏感度。</li>
					<li local-class='values'> 具备对信息、数字、咨询的敏感度。</li>
					<li local-class='values'> 具备对信息、数字、咨询的敏感度。</li>
				</ul>
			{{/bp-layout}}
			{{#bp-layout direction='col' local-class='item evaluation' classNames='p-4'}}
				{{#bp-layout tagName='h5' cross='center' local-class="title" 
		classNames="mb-3"}}
					等级评价
				{{/bp-layout}}
				<p local-class='values'>您还需要花更多的精力，完善自己在报表与数据理解上的能力，透过科学化的分析，能使您在部署战略上，了解全局现状，洞察问题关键，预判发展趋势。从数据中你将收获宏观的视野，掌握全局。</p>
			{{/bp-layout}}
		{{/bp-layout}}
	{{/bp-layout}}
	{{!-- {{#bp-layout main="between" local-class="performance" classNames="mb-2 bg-white"}}
		{{#bp-layout direction="col" cross="center" local-class="score" 
			classNames="p-4"}}
			<img src="https://i.loli.net/2019/04/27/5cc3e0a8ae8a2.png" alt="designation" title="designation" class="mb-4" />
			<p local-class="level">A级(优秀)*</p>
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="evaluation" classNames="p-4"}}
			<h4 local-class="title" class="mb-3">等级评价</h4>
			<p local-class="desc" class="m-0">您还需要花更多的精力，完善自己在报表与数据理解上的能力，透过科学化的分析，能使您在部署战略上，了解全局现状，洞察问题关键，预判发展趋势。从数据中你将收获宏观的视野，掌握全局。</p>
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout tagName='h3' cross='center' local-class="title" 
		classNames="m-0 px-4 bg-white"}}
		指标达成结果
	{{/bp-layout}}
	{{#bp-layout main="between" cross='center' local-class="rate" classNames="px-4 bg-white"}}
		<span local-class="keys">总达成率</span>
		<span local-class="values">90%</span>
	{{/bp-layout}}
	{{#bp-layout main="between" cross='center' local-class="rate-item" classNames="px-4 bg-white"}}
		<span local-class="keys">2019Q1</span>
		<span local-class="values">90%</span>
	{{/bp-layout}}
	{{#bp-layout main="between" cross='center' local-class="rate-item" classNames="px-4 bg-white"}}
		<span local-class="keys">2019Q2</span>
		<span local-class="values">90%</span>
	{{/bp-layout}}
	{{#bp-layout main="between" cross='center' local-class="rate-item" classNames="px-4 bg-white"}}
		<span local-class="keys">2019Q3</span>
		<span local-class="values">90%</span>
	{{/bp-layout}} --}}
{{/bp-layout}}