.reference-container {
	height: calc(100% - 25px);

	.reference-tabs {
		flex: 0 0 80px;
	}

	.reference-content {
		flex: 1;

		&.products-container {
			.trend {
				.title {
					height: 52px;
					line-height: 52px;
					@extend %p-primary;
				}

				.trend-line {
					height: 470px;
					background-color: #A1C6E7;
				}
			}

		}

	}
}
