{{#bp-layout local-class="login"}}
	<div local-class="input left" class="p-4">
		<div local-class="area">
			<h2 local-class="title" class="mb-2">{{t "login.title"}}</h2>
			<p local-class="desc">{{t "login.desc"}}</p>
			{{common/html-container content=model.page}}
		</div>
	</div>
	<div local-class="img">
	</div>
{{/bp-layout}}