.choose-container {
	.choose-area {
		flex: 1;

		span {
			flex: 0 0 56px;
			@extend %p-primary;
		}

		.dd-area {
			flex: 1;
		}
	}

	.situation {
		flex: 1;
	}





}

.manager {
	h2.title {
		height: 60px;
		@extend %header-medium;
	}

	h3.title {
		height: 52px;
		@extend %header-small;
	}

	.times>div {
		flex: 1;
	}

	.keys,
	.values {
		@extend %p-primary;
	}

	.table-container {
		table {
			thead {
				th {
					@extend %p-small;
				}
			}

			tbody {
				border: $spacing solid #FAFBFC;

				tr {

					td {
						height: 52px;
						border: 0;
						@extend %p-primary;
					}
				}
			}
		}
	}
}

.table-container {
	thead {
		background-color: transparent;

		th {
			padding-left: $spacing-2;
			border: 0;
			@extend %p-small;
		}
	}

	tbody {
		td {
			padding: 0;
			padding-left: $spacing-2;

			height: 52px;
			line-height: 52px;
			@extend %p-primary;
			border: 0;
		}
	}
}
