.business-container {
	height: calc(100% - 25px);

	.sales-and-budget {
		h4 {
			font-size: 12px;
			color: #6b778c;
			text-align: left;
			height: 52px;
		}

		.sales {
			width: 564px;
			height: 228px;
			box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
			border-radius: 8px;
		}

		.budget {
			width: 564px;
			height: 228px;
			box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
			border-radius: 8px;

			button {
				height: 24px;
				width: 108px;
			}

			button:first-child {
				border-radius: 4px 0 0 4px;
			}

			button:last-child {
				border-radius: 0 4px 4px 0;
			}

			.active {
				background: #505f79;
				color: #ffffff;
			}
		}
	}

	.resource-and-hospital {
		h4 {
			font-size: 16px;
			color: #172b4d;
			height: 54px;
		}

		.resource-list {
			width: 368px;

			button {
				height: 88px;
				font-size: 14px;
				color: #172b4d;
				text-align: left;
				border-bottom: 1px solid rgba(9, 30, 66, 0.04);
				border-radius: 0;

				button:last-child {
					border-bottom: none;
				}

				img {
					height: 40px;
					height: 40px;
				}
			}
		}

		.hospital-list {
			width: 760px;

			.hospital-header {
				.mid-btn {
					border-radius: 0;
				}

				.active {
					background: #505f79;
					color: #ffffff;
				}

				button {
					height: 24px;
					width: 80px;
				}

				button:first-child {
					border-radius: 4px 0 0 4px;
				}

				button:last-child {
					border-radius: 0 4px 4px 0;
				}
			}

			.hospital-config {
				width: 760px;

				.line {
					border-bottom: 1px solid rgba(9, 30, 66, 0.04);
				}
			}
		}
	}

	.overviews {
		flex: 0 0 170px;

		.item {
			background-color: $n000;
			flex: 1;

			h2.title {
				@extend %header-medium;
				height: 54px;
			}

			.info {
				@extend %header-large;

				.unit {
					@extend %p-small;
				}
			}

			.m-name {
				@extend %p-small;
			}

			:global(.bp-progress) {
				height: $spacing;

				:global(.bp-progress-bar) {
					background-color: $b200;
				}
			}

			.progress {
				&:global(.bp-progress .bp-progress-bar) {
					background-color: $n500;
				}
			}

			.legend {
				.circle {
					background-color: $b200;
					border-radius: 50%;
					height: 8px;
					width: 8px;
				}

				.values {
					@extend %p-secondary;
				}
			}

			.rest-time {
				font-size: 0;
				margin-bottom: 16px;
				width: 50%;

				.keys {
					@extend %p-primary;
				}

				.values {
					@extend %p-secondary;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.hospitals {
		flex: 1;

		.hospitals-configs {
			flex: 0 0 368px;
			max-height: 525px;
			overflow: auto;

			h3.title {
				@extend %header-medium;
				flex: 0 0 54px;

				.dd-hosp {
					width: 98px;
				}
			}

			a:hover {
				text-decoration: none;
			}

			:global(.current-hospital) {
				:global(.hospital-box) {
					background-color: $n020a;
				}
			}
		}

		.hospital {
			flex: 1;
		}
	}
}
