.business-container {
	height: calc(100% - 25px);

	.overviews {
		flex: 0 0 170px;

		.item {
			background-color: $n000;
			flex: 1;

			h2.title {
				@extend %header-medium;
				height: 54px;
			}

			.info {
				@extend %header-large;

				.unit {
					@extend %p-small;
				}
			}

			.m-name {
				@extend %p-small;
			}

			:global(.bp-progress) {
				height: $spacing;

				:global(.bp-progress-bar) {
					background-color: $b200;
				}
			}

			.progress {
				&:global(.bp-progress .bp-progress-bar) {
					background-color: $n500;
				}
			}

			.legend {
				.circle {
					background-color: $b200;
					border-radius: 50%;
					height: 8px;
					width: 8px;
				}

				.values {
					@extend %p-secondary;
				}
			}

			.rest-time {
				font-size: 0;
				margin-bottom: 16px;
				width: 50%;

				.keys {
					@extend %p-primary;
				}

				.values {
					@extend %p-secondary;
				}

				&:last-child {
					margin: 0;
				}
			}
		}
	}

	.hospitals {
		flex: 1;

		.hospitals-configs {
			flex: 0 0 368px;
			max-height: 525px;
			overflow: auto;

			h3.title {
				@extend %header-medium;
				flex: 0 0 54px;

				.dd-hosp {
					width: 98px;
				}
			}

			a:hover {
				text-decoration: none;
			}


			:global(.current-hospital) {
				:global(.hospital-box) {
					background-color: $n020a;
				}
			}
		}

		.hospital {
			flex: 1;
		}
	}
}
