.prepare {
	height: calc(100% - 64px);

	.card-area {
		width: 1200px;

		.card {
			border-radius: 4px;
			box-shadow: 0 4px 8px -2px rgba(9, 30, 66, 0.25);
			height: 259px;
			padding: 40px;
			width: 639px;

			.title {
				color: #172B4D;
				font-size: 24px;
				font-weight: 500;
				width: 90%;
			}

			.status-area {
				.badge {
					background-color: #36b37e;
					border-radius: 4px;
					color: #ffffff;
					font-size: 12px;
					line-height: 16px;
					padding-left: 4px;
					padding-right: 4px;
				}

				.des {
					color: #7a869a;
					font-size: 12px;
				}
			}

			.card-bottom {
				width: 100%;

				.link {
					color: #3172e0;
					cursor: pointer;
					font-size: 14px;
				}
			}
		}
	}
}

.modal {
	:global(.modal-sm) {
		max-width: 400px;
	}

	.start-deploy-header {
		color: #172B4D;
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
	}

	// :global(.modal-content) {
	// 	height: 176px;
	// }
}
