.state {
	span {
		@extend %defaultRadius;
		@extend %p-small-inverse;
		background-color: $b400;
		color: $n000;
		display: inline-block;
	}

	&.mission-new span {
		background-color: $p400;
	}

	&.mission-done span {
		background-color: $g400;
	}
}
