.page-notice {
	height: 100%;
	overflow: auto;

	h2.title {
		@extend %header-large;
	}

	h3 {
		@extend %header-medium;
	}

	h4.title {
		@extend %header-small;
	}

	.blank {
		flex: 1;
	}

	.item {
		flex: 5;

		.manager {
			position: relative;
			margin-top: 90px;
			@extend %depth-z200;
			@extend %defaultRadius;

			img {
				position: absolute;
				top: -64px;
				width: 128px;
				height: 128px;
				border-radius: 50%;
			}

			h2.title {
				margin-top: 78px;
			}

			p.desc {
				@extend %p-secondary;
			}
		}

		.rule {
			@extend %depth-z200;
			@extend %defaultRadius;

			p {
				margin: 0;
				@extend %p-secondary;
			}
		}

		&.mission-notice {
			h1 {
				position: relative;
				font-size: 0;
				// background-color: $n300;

				span {
					display: inline-block;
				}

				.title {
					@extend %header-large;
				}

				.time {
					@extend %p-primary;
				}
			}

			// h1::after {
			// 	content: '';
			// 	position: absolute;
			// 	right: -20px;
			// 	top: -5px;
			// 	border-left: 25px solid transparent;
			// 	border-right: 30px solid transparent;
			// 	border-bottom: 25px solid $n010;
			// 	transform: rotate(45deg);
			// 	width: 0;
			// }

			.resource {
				background-color: $n040;

				// h2 {
				// 	@extend %header-medium;
				// }

				.item {
					.icon {
						width: 32px;
						height: 32px;
						fill: rgb(80, 95, 121);
					}

					p.desc {
						@extend %p-secondary;
					}

					h4.title {
						@extend %header-small;
					}
				}

				.item-resource {
					@extend %depth-z200;

					.icon {
						flex: 0 0 32px;
						height: 32px;
					}

					.blank {
						flex: 1;
					}

					.main-box {
						flex: 3;

						:global(.bp-progress) {
							height: $spacing;
						}

						p {
							@extend %p-small;
						}

						.circle {
							width: 64px;
							height: 64px;
						}
					}

					h4 {
						@extend %p-secondary;
					}

					span.schedule {
						@extend %header-medium;
					}
				}
			}

			.entry-mission {
				a {
					color: #fff;

					&:hover {
						text-decoration: none;
					}
				}
			}
		}
	}
}
