{{#bp-layout classNames="pb-4"}}
	{{#bp-layout classNames="mr-4"}}
		{{#bp-layout direction="col" 
				local-class="keys" classNames="mr-2"}}
			<span class="mb-1">潜力</span>
			<span>预算</span>
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="values"}}
			<span class="mb-1">￥{{dc.hospitalConfig.potential}}</span>
			<span>￥8888888*</span>
		{{/bp-layout}}
	{{/bp-layout}}
	{{#bp-layout}}
		{{#bp-layout direction="col" 
									local-class="keys" classNames="mr-2"}}
			<span class="mb-1">指标</span>
			<span>会议名额(次)</span>
		{{/bp-layout}}
		{{#bp-layout direction="col" local-class="values"}}
			<span class="mb-1">￥8888888*</span>
			<span>20*</span>
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}
<div class="dropdown-divider"></div>