h4.title {
	height: 54px;
	@extend %header-medium;
}

h5.title {
	height: 52px;
	@extend %header-small;
}

.keys {
	@extend %p-primary;
}


.representative-time,
.meeting-place {
	.item {
		flex: 1;

		.keys {
			flex: 0 0 56px;
		}

		.operating {
			flex: 1;
		}
	}
}

.meeting-place {
	.item {
		.keys {
			flex: 0 0 84px;
		}
	}
}

.prod {
	table-layout: fixed;

	thead {
		th {
			@extend %p-small;
		}
	}

	tbody {
		tr {

			td {
				align-self: center;
				padding: 2*$spacing 0;
				vertical-align: middle;
				@extend %p-primary;

				.percent {
					@extend %p-secondary;
				}
			}
		}
	}
}

.reps-meeting {

	.reps,
	.meeting {
		flex: 1;

		.keys {
			@extend %p-primary;
		}

		.operating {
			flex: 1;
			@extend %p-secondary;
		}
	}

	.reps {
		.keys {
			flex: 0 0 56px;

			span:first-child {
				height: 40px;
				line-height: 40px;
			}

			span:last-child {
				height: 32px;
				line-height: 32px;
			}
		}

		.operating {
			.dd-representative {
				.representative-info {
					font-size: 0;

					div {
						height: 100%;
					}

					span.name {
						@extend %p-primary;
					}

					span.rest-time {
						@extend %p-secondary;
					}
				}
			}
		}
	}

	.meeting {

		.keys {
			flex: 0 0 84px;

			span:last-child {
				height: 32px;
				line-height: 32px;
			}
		}
	}

}

.reps-meeting .input-prepend,
.prod .input-prepend,
.representative-time .input-prepend,
.meeting-place .input-prepend {
	position: relative;

	input {
		// padding-left: 30px;
		padding-right: 30px;

	}

	&::after {
		position: absolute;
		// left: 8px;
		left: auto;
		right: 8px;
		top: 50%;
		transform: translateY(-50%);
		@extend %p-secondary;

	}

	&.input-time {
		&::after {
			content: '%';
		}
	}

	&.input-meeting {
		&::after {
			content: '个';
		}
	}

	&.input-money {
		input {
			max-width: 100% !important;
			// padding-left: 8px;
			// padding-right: 30px;
			padding-left: 30px;
		}

		&::after {
			// left: auto;
			// right: 8px;
			left: 8px;
			right: auto;
			top: 50%;
			transform: translateY(-50%);
			content: '￥';
		}
	}
}

.disabled {
	color: $n060 !important;

	.input-prepend {
		&::after {
			color: $n060;
		}
	}

	thead {
		th {
			color: $n060;
		}
	}

	tbody {
		tr {
			td {
				color: $n060;

				.percent {
					color: $n060;
				}
			}
		}
	}

	input {
		color: $n060 !important;
	}
}
