.hispital-container {
	.hispital-header {
		height: fit-content;
		width: 1152px;

		h4.title {
			font-size: 16px;
			height: 54px;
			color: $n800;
		}

		p.desc {
			font-size: 14px;
			color: #344563;
		}
	}

	.hispital-table {
		width: 100%;

		thead {
			border-bottom: 1px solid rgba(9, 30, 66, 0.08);
			color: $n100;
			font-size: 12px;
			width: 100%;

			th {
				flex: 1;
				font-weight: 400;
			}
		}

		tr {
			width: 100%;
			font-size: 14px;
			color: #344563;

			// text-align: right;
			td {
				flex: 1;
			}
		}
	}

	.hospital-info {
		width: 1152px;
		height: 54px;

		h4.title {
			color: $n800;
			font-size: 16px;
			height: 54px;
		}

		.city-hospital {
			height: 32px;

			button {
				width: 80px;

				&:nth-child(1) {
					border-radius: 4px 0 0 4px;
				}

				&:nth-child(2) {
					border-radius: 0;
					margin-left: 2px;
					margin-right: 2px;
				}

				&:nth-child(3) {
					border-radius: 0 4px 4px 0;
				}
			}

			.active {
				background: #505f79;
				color: #ffffff;
			}
		}
	}

	.hospital-detail {
		width: 1152px;

		.hospital-list {
			width: 272px;
			height: 520px;
			overflow-y: auto;
		}

		.hospital-item {
			background: #ffffff;
			height: 68px;
			font-size: 14px;
			color: $n800;
			text-align: left;
			// border-bottom: 1px solid rgba(9, 30, 66, 0.04);
			margin-bottom: 1px;
			border-radius: 0;
			cursor: pointer;

			&.active {
				background: #ebecf0;
			}
		}

		.hospital-detail-info {
			width: 872px;
		}
	}
}
