.hispital-container {
	.hispital-header {
		height: fit-content;
		width: 1152px;

		h4.title {
			font-size: 16px;
			height: 54px;
		}

		p.desc {
			font-size: 14px;
			color: #344563;
		}
	}

	.hispital-table {
		width: 1152px;

		thead {
			border-bottom: 2px solid rgba(9, 30, 66, 0.08);
			color: #7a869a;
			font-size: 12px;
			width: 1152px;

			th {
				flex: 1;
			}
		}

		tr {
			width: 1152px;
			font-size: 14px;
			color: #344563;
			// text-align: right;
			td {
				flex: 1;
			}
		}
	}

	.hospital-info {
		width: 1152px;

		h4.title {
			font-size: 16px;
			height: 54px;
		}

		.city-hospital {
			height: 70px;

			button {
				width: 80px;
			}
		}
	}

	.hospital-detail {
		width: 1152px;

		.hospital-item {
			height: 68px;
			width: 270px;
			font-size: 14px;
			color: #172b4d;
			text-align: left;
			border-bottom: 1px solid rgba(9, 30, 66, 0.04);
			border-radius: 0;
			cursor: pointer;

			&:last-child {
				border-bottom: none;
			}

			&.active {
				background: #ebecf0;
			}
		}

		.hospital-detail-info {
			width: 872px;
		}
	}
}
