.products-container {
	.products-chart {
		// height: 347px;
		width: 1152px;

		.chart-header {

		}
	}

	h4.title {
		font-size: 14px;
	}

	span.title {
		font-size: 14px;
		color: #344563;
	}

	span.product-name {
		color: #8993a4;
		font-size: 14px;
	}

	button.product-list-btn {
		width: 120px;
		height: 32px;
		border-radius: 4px;
	}

	.info-header {
		width: 1152px;
	}

	.product-item {
		background: #ffffff;
		height: 68px;
		width: 270px;
		font-size: 14px;
		color: #172b4d;
		text-align: left;
		border-bottom: 1px solid rgba(9, 30, 66, 0.04);
		border-radius: 0;
		cursor: pointer;

		&:last-child {
			border-bottom: none;
		}

		&.active {
			background: #ebecf0;
		}

		.badge {
			background-color: #c2daff;
			color: #0049b0;
			font-size: 14px;
			font-weight: 400;
			margin-left: 4px;
			padding: 4px;
			height: 20px;

			&.badge-yellow {
				background-color: #fce380;
				color: #172B4D;
			}
		}
	}

	.product-info {
		width: 874px;
	}

	.trend {
		.title {
			@extend %p-primary;
			height: 52px;
			line-height: 52px;
		}

		.trend-line {
			background-color: #fff;
			height: 400px;
		}
	}
}
