@import "bp-components";

.header {
	position: relative;
	z-index: 1;
	height: 8*$spacing;
	@extend %shadow-z200;

	p {
		margin: 0;
		@extend %header-small;

		img {
			margin-right: 2*$spacing;
			width: 4*$spacing;
			height: 4*$spacing
		}
	}

	img {
		width: 18px;
		height: 18px;
	}
}

.container {
	height: calc(100% - 64px);
}
