@import "bp-components";

.application-header {
	padding: 0 3*$spacing;
	height: 8*$spacing;
	@extend %shadow-z200;

	&>div {
		height: 100%;

		p {
			margin: 0;
			@extend %p-primary;

			img {
				margin-right: 2*$spacing;
				width: 4*$spacing;
				height: 4*$spacing
			}
		}

		img {
			width: 18px;
			height: 18px;

		}

	}
}
