<header local-class="application-header">
	{{#bp-layout main="between" 
		cross='center'}}
		<p>
			<img src="/images/logo.png" alt="tmist logo">
			TMIST</p>
		<img src="/images/logo.png" alt="user avatar">
	{{/bp-layout}}
</header>
{{outlet}}