{{#bp-layout tagName="header"  main="between" cross='center'
		local-class="header" classNames="bg-white px-4"}}
	{{#link-to "application" tagName="p"  classNames="m-0"}}
		<img src="/assets/images/new-tmist.png" alt="tmist logo" class="mr-3">
		TMIST
	{{/link-to}}
	<img src="/assets/images/logo.png" alt="user avatar">
{{/bp-layout}}
<section local-class="container">
	{{outlet}}
</section>