div:global(.report-wrapper) {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

h2.title {
	@extend %header-medium;
	height: 52px;
}

.historical-sales-container {
	height: 100%;
	width: 1152px;
}

.header-export {
	width: 100%;
	height: 54px;

	h4 {
		height: 54px;
		font-size: 16px;
		color: #172b4d;
	}

	button {
		border-radius: 4px;
		height: 32px;
		width: 80px;
		font-size: 14px;
		color: #505f79;
	}
}

.nav {
	flex: 0 0 270px;
	height: fit-content;
	list-style: none;

	div {
		height: 68px;
		// height: 100%;
		cursor: pointer;
		font-weight: 500;
		font-size: 14px;
		color: #172b4d;

		&.active {
			background-color: $n020a;
		}
	}

	li {
		@extend %header-small;
		cursor: pointer;
		height: 4 * $spacing;

		span {
			flex: 1;
		}

		&.active {
			background-color: $n020a;
		}
	}
}

.circle-left,
.circle-right {
	flex: 1;

	.circle-bottom {
		margin-top: 32px;
	}

	.title {
		@extend %header-small;
	}
}

.circle-legend {
	span {
		display: inline-block;
	}

	.point {
		display: inline-block;
		width: 8px;
		height: 8px;
		border-radius: 50%;
	}

	.name {
		@extend %p-primary;
	}

	.value {
		@extend %p-secondary;
	}
}

.content {
	flex: 1;
	overflow-x: auto;

	.report {
		flex: 1;
		overflow-x: auto;

		&.representative .choose-container {
			height: 64px;
		}

		.choose-container h2.title {
			flex: 1;
		}

		.choose-area {
			flex: 1;

			:global(.bp-dropdown button) {
				height: 32px;
				border-radius: 5px;
			}

			.keys {
				@extend %p-primary;
				flex: 0 0 28px;
			}

			.dd-area {
				flex: 1;
			}
		}

		.table-container {
			// table-layout: fixed;

			overflow-x: auto;

			table {
				thead {
					background-color: transparent;

					th {
						@extend %p-small;
						border: 0;
						min-width: 100px;
						text-align: right;
					}
				}

				tbody {
					tr:hover {
						td {
							background-color: rgba(0, 0, 0, 0.075);
						}
					}

					td {
						@extend %p-primary;
						border: 0;
						height: 52px;
						line-height: 52px;
						text-align: right;
					}
				}
			}
		}
	}
}
