.resource {
	h3.title {
		@extend %header-medium;
		height: 52px;
		font-size: 14px;
		color: $n800;

		.icon {
			cursor: pointer;
		}
	}

	.content {
		& > div {
			flex: 1;
		}

		img {
			border-radius: 50%;
			height: 80px;
			width: 80px;
		}

		.basic-infos {
			.left {
				// height: 124px;
				width: 437px;

				.name {
					font-size: 20px;
					color: $n800;
				}

				.experience {
					font-size: 14px;
					color: $n100;
				}

				p span:first-child {
					font-size: 14px;
					color: #344563;
				}

				p span:last-child {
					font-size: 14px;
					color: $n100;
				}
			}

			.right {
				// min-height: 124px;
				width: 437px;

				p span:first-child {
					font-size: 14px;
					color: #344563;
				}

				p span:last-child {
					font-size: 14px;
					color: $n100;
				}

				.des {
					font-size: 14px;
					color: #7a869a;
				}
			}

			.rep {
				img {
					flex: 0 0 80px;
				}

				.infos {
					flex: 1;
					font-size: 0;

					.properties,
					.values {
						@extend %p-secondary;
					}

					.keys {
						@extend %p-primary;
					}
				}
			}
		}

		.kpi-content {
			height: 874px;

			span.badge {
				background: rgba(9, 30, 66, 0.04);
				border-radius: 4px;
				color: #505f79;
				font-size: 14px;
				height: 31px;
				width: 102px;
			}

			.kpi-data {
				height: 356px;
				width: 874px;

				// background-color: #ffffff;
				.left {
					height: 356px;
					width: 437px;

					// .row:first-child {
					// 	// border-right: 2px solid rgba(9, 30, 66, 0.08);
					// }

					.row:last-child {
						border-top: 1px solid rgba(9, 30, 66, 0.08);
					}

					.row-1 {
						height: 178px;
						// padding-top: 47px;
						width: 219px;

						p:first-child {
							color: $n100;
							font-size: 14px;
						}

						p:last-child {
							color: $n800;
							font-size: 29px;

							span {
								color: $n100;
								font-size: 14px;
							}
						}
					}

					.row-2 {
						height: 178px;
						width: 146px;
						// padding-top: 37px;

						p {
							font-size: 14px;
							color: $n100;
							margin-bottom: 0;
						}

						p:last-child {
							font-size: 29px;
							color: $n800;

							span {
								font-size: 14px;
								color: $n100;
							}
						}
					}
				}

				.right {
					height: 356px;
					width: 437px;
				}
			}

			.kpis {
				font-size: 0;

				& > div {
					flex: 1;
				}

				.keys-large {
					@extend %header-large;
				}

				.values-small {
					@extend %p-small;
				}
			}
		}

		.chart {
			height: 350px;
		}
	}
}
