.review-container {
	height: calc(100% - 25px);

	.review-tabs {
		flex: 0 0 80px;
	}

	.review-content {
		flex: 1;

		.situation {
			flex: 1;
		}

		.business {
			width: 100%;

			.choose-container {
				flex: 0 0 72px;

				.choose-area {

					flex: 1;

					.keys {
						flex: 0 0 56px;
						@extend %p-primary;
					}

					.dd-area {
						flex: 1;
					}
				}
			}

			.table-container {
				thead {
					background-color: transparent;

					th {
						padding-left: $spacing-2;
						border: 0;
						@extend %p-small;
					}
				}

				tbody {
					td {
						padding: 0;
						padding-left: $spacing-2;

						height: 52px;
						line-height: 52px;
						@extend %p-primary;
						border: 0;
					}
				}
			}
		}

		.manager {
			h3.title {
				height: 52px;
				@extend %header-medium;
			}

			.table-container {
				table {
					thead {
						th {
							@extend %p-small;
						}
					}

					tbody {
						border: $spacing solid #FAFBFC;

						tr {

							td {
								height: 52px;
								border: 0;
								@extend %p-primary;
							}
						}
					}
				}
			}
		}

	}
}
