.toggle-button {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	@extend %p-primary;
	@extend %defaultRadius;
	background-color: $n020a;
	cursor: pointer;

	svg {
		path {
			fill: $n040;
		}
	}

	&.choosed {
		background-color: $n400;

		svg {
			path {
				fill: $n000;
			}
		}
	}

}
