:global(.history-info-wrapper) {
	width: 100%;
}

.history-table-outer {
	width: 100%;

	.empty-img {
		width: 100%;
		font-size: 14px;
		color: #344563;
	}

	.history-table {
		table-layout: fixed;

		thead {
			border-bottom: 1px solid rgba(9, 30, 66, 0.08);

			th {
				font-size: 12px;
				color: $n100;
				font-weight: 400;
			}

			.fix-width {
				width: 138px;
			}

			.blank-part {
				width: 48px;
			}
		}

		tbody {
			td {
				vertical-align: middle;
				height: 73px;

				.quarter-sales-reached {
					.info {
						span:first-child {
							font-size: 12px;
							color: $n100;
							text-align: center;
						}

						span:last-child {
							font-size: 14px;
							color: #344563;
						}
					}
				}

				.blank-part {
					width: 48px;
				}

				.fix-click-part {
					width: 138px;
				}

				.flex-1 {
					flex: 1;
				}

				.btn-list {
					:global(.dropdown-button) {
						height: 32px;
						width: 112px;
						border-radius: 5px;
					}
				}

				.report-link {
					color: #3172e0;
					cursor: pointer;
					font-size: 14px;
				}

				a:hover {
					color: #3172e0;
					text-decoration: none;
				}

				.icon {
					height: 18px;
					width: 18px;

					path {
						fill: #505f79;
					}
				}

				.level {
					.level-img {
						width: 32px;
						height: 32px;
					}

					.des {
						font-size: 12px;
						color: $n200;
					}
				}

				.total-percent {
					.num {
						font-size: 29px;
						color: $n800;
					}

					.unit {
						font-size: 12px;
						color: $n100;
						margin-left: 2px;
					}
				}

				.total-percent-round {
					font-size: 16px;
					color: $n800;
				}

				.total-sales {
					font-size: 16px;
					color: $n800;
				}

				.used-time {
					font-size: 14px;
					color: $n100;
				}

				.end-time {
					font-size: 12px;
					color: $n100;
				}

				&:nth-child(3) {
					font-size: 16px;
					color: $n800;
				}

				&:nth-child(5) {
					font-size: 14px;
					color: $n100;
				}

				&:nth-child(6) {
					font-size: 12px;
					color: $n100;
				}

				// &:nth-child(5) {
				// 	font-size: 14px;
				// 	color: #3172e0;
				// 	cursor: pointer;
				// }

				// &:nth-child(6) {
				// 	font-size: 14px;
				// 	color: #505f79;
				// 	line-height: 32px;
				// 	cursor: pointer;
				// }
			}
		}
	}
}

.modal {
	:global(.modal-content) {
		background-color: rgba(250, 251, 252, 1);
	}

	:global(.modal-lg) {
		max-width: 1200px;
	}
	.header-wrapper {
		width: 100%;
	}
}
