.page-result {
	padding: 3*$spacing;
	height: calc(100% - 64px);
	background-color: $n010;
	overflow: auto;

	.back-area {
		flex: 0 0 32px;
		@extend %p-small;
	}

	.result-header {
		flex: 0 0 76px;
	}

	.tabs-container {
		flex: 1;
	}
}
