.overview {
	height: 342px;

	h4.title {
		@extend %header-small;
	}

	.chart {
		flex: 1;
		height: 342px;
	}

	.infos {
		flex: 1;

		.keys {
			@extend %p-primary;
			flex: 0 0 56px;
		}

		.values {
			@extend %p-secondary;
		}
	}
}

.resource-container {
	.resource-header {
		.resource-title {
			width: 1152px;
			height: 54px;

			h4.title {
				font-size: 16px;
				color: #172b4d;
			}
		}

		.resource-header-info {
			width: 1152px;

			.left {
				height: 69px;
				// width: 234px;
				flex: 0 0 239px;
				position: relative;
				border-right: 1px solid rgba(9, 30, 66, 0.08);
				// padding-left: 2px;

				// .img-box {
				// 	position: absolute;
				// 	height: 40px;
				// 	// width: ;
				// }

				img {
					height: 32px;
					width: 32px;
					border-radius: 50%;
					border: 3px solid white;
					box-sizing: content-box;
					position: absolute;

					&:nth-child(1) {
						left: 25px;
						z-index: 99;
					}

					&:nth-child(2) {
						left: 55px;
						z-index: 98;
					}

					&:nth-child(3) {
						left: 85px;
						z-index: 97;
					}

					&:nth-child(4) {
						left: 115px;
						z-index: 96;
					}

					&:nth-child(5) {
						left: 145px;
						z-index: 95;
					}

					&:nth-child(6) {
						left: 175px;
						z-index: 94;
					}
				}

				// color: #172b4d;
				// font-size: 29px;
				// height: 89px;
				// width: 576px;
			}

			.right {
				height: 100%;
				width: 100%;
				// padding-left: 49px;s

				p {
					font-size: 14px;
					color: #7a869a;

					span:first-child {
						font-size: 29px;
						color: #172b4d;
					}
				}
			}
		}
	}

	.resource-info {
		.resource-info-header {
			height: 54px;
			width: 1152px;

			h4.title {
				font-size: 16px;
				color: #172b4d;
			}
		}

		.resource-item {
			width: 270px;
			height: 68px;
			font-size: 14px;
			color: #172b4d;
			text-align: left;
			margin-bottom: 1px;
			// border-bottom: 1px solid rgba(9, 30, 66, 0.04);
			border-radius: 0;
			cursor: pointer;
			background: #ffffff;

			// &:last-child {
			// 	border-bottom: none;
			// }

			&.active {
				background-color: #ebecf0;
			}
		}

		.resource-detail {
			width: 874px;
		}
	}
}
