.return {
	font-size: 12px;
	line-height: 16px;
	color: $n200;
	cursor: pointer;
}

.history {
	height: 100%;

	.list-wrapper {
		width: 100%;

		.no-task {
			font-size: 14px;
			color: #344563;
			width: 100%;
		}

		.title-wrapper {
			width: 100%;
			.badge {
				font-size: 12px;
				color: #ffffff;
				background-color: #ebecf0;
				line-height: 16px;
				border-radius: 4px;
				padding-left: 4px;
				padding-right: 4px;
			}

			.title {
				font-size: 24px;
				color: $n800;
			}
		}

		.history-table-outer {
			width: 100%;

			.history-table {
				thead {
					border-bottom: 1px solid rgba(9, 30, 66, 0.08);

					th {
						font-size: 12px;
						color: $n100;
					}
				}

				tbody {
					td {
						vertical-align: middle;
						height: 73px;

						.quarter-sales-reached {
							.info {
								span:first-child {
									font-size: 12px;
									color: $n100;
									text-align: center;
								}

								span:last-child {
									font-size: 14px;
									color: #344563;
								}
							}
						}

						.btn-list {
							:global(.dropdown-button) {
								height: 32px;
								width: 112px;
								border-radius: 5px;
							}
						}

						a:hover {
							color: #3172e0;
							text-decoration: none;
						}

						.icon {
							height: 18px;
							width: 18px;

							path {
								fill: #505f79;
							}
						}

						.level {
							.level-img {
								width: 32px;
								height: 32px;
							}

							.des {
								font-size: 12px;
								color: $n200;
							}
						}

						.total-percent {
							.num {
								font-size: 24px;
								color: $n800;
							}

							.unit {
								font-size: 12px;
								color: $n100;
							}
						}

						&:nth-child(3) {
							font-size: 16px;
							color: $n800;
						}

						&:nth-child(5) {
							font-size: 14px;
							color: $n100;
						}

						&:nth-child(6) {
							font-size: 12px;
							color: $n100;
						}

						// &:nth-child(5) {
						// 	font-size: 14px;
						// 	color: #3172e0;
						// 	cursor: pointer;
						// }

						// &:nth-child(6) {
						// 	font-size: 14px;
						// 	color: #505f79;
						// 	line-height: 32px;
						// 	cursor: pointer;
						// }
					}
				}
			}
		}
	}
}
