.hospital {
	h3.title {
		@extend %header-medium;
		height: 52px;

		.icon {
			cursor: pointer;
		}
	}

	h4.title {
		@extend %header-small;

		.subtitle {
			@extend %p-small;
		}
	}

	.content {
		.infos {
			flex: 1;
			// &>div {
			// 	flex: 1;
			// }

			.basic {
				img {
					flex-grow: 160px;
					flex-shrink: 0;
					height: 160px
				}

				.properties {
					flex: 1;
					font-size: 0;

					p span:first-child {
						@extend %p-primary;
					}

					p span:last-child {
						@extend %p-secondary;
					}

					&.properties:last-child {
						p span:first-child {
							min-width: 70px;
						}
					}
				}
			}

			.medic-access {
				.keys {
					@extend %p-small;
					margin-bottom: $spacing;
				}

				.values {
					@extend %p-primary;
				}
			}

			.others {
				&.dynamic {
					font-size: 0;

					.content {
						@extend %p-secondary;
					}
				}
			}
		}

		.sell {
			flex: 1;
			// &>div {
			// 	flex: 1;
			// }

			// .medic-access {
			// 	.keys {
			// 		margin-bottom: $spacing;
			// 		@extend %p-small;
			// 	}

			// 	.values {
			// 		@extend %p-primary;
			// 	}
			// }
			// height: 343px;
			height: 429px;


			.chart {
				// height: 321px;
				// height: 343px;
				height: 429px;
				// background-color: #A1C6E7;
			}
		}
	}
}
