.hospital {
	h3.title {
		@extend %header-medium;
		height: 52px;

		.icon {
			cursor: pointer;
		}
	}

	h4.title {
		@extend %header-small;

		.subtitle {
			@extend %p-small;
		}
	}

	.content {
		.infos {
			flex: 1;
			width: 872px;
			height: fit-content;

			.left-info {
				width: 436px;
				// height: 368px;
				// border-right: 2px solid rgba(9, 30, 66, 0.08);

				img {
					flex-grow: 160px;
					flex-shrink: 0;
					height: 160px;
					width: 388px;
					background-color: #ebecf0;
				}

				.properties {
					flex: 1;
					font-size: 0;

					p span:first-child {
						@extend %p-secondary;
					}

					p span:last-child {
						@extend %p-primary;
					}

					// &.properties:last-child {
					// 	p span:first-child {
					// 		min-width: 70px;
					// 	}
					// }

					p div:last-child {
						span {
							@extend %p-primary;
						}
					}

					.bottom {
						margin-top: 40px;

						p {
							margin-right: 40px;
						}
					}
				}

				.hospital-desc {
					margin-top: 40px;

					h4 {
						font-size: 14px;
						color: #172b4d;
					}

					p {
						font-size: 14px;
						color: #7a869a;
					}
				}
			}

			.right-info {
				height: 368px;
				width: 436px;

				h4 {
					font-size: 14px;
					color: #172b4d;
				}

				thead {
					border-bottom: 2px solid rgba(9, 30, 66, 0.08);
					color: #7a869a;
					font-size: 12px;
					width: 338px;

					th {
						flex: 1;
						font-weight: 400;
					}
				}

				tr {
					width: 338px;
					font-size: 14px;
					color: #344563;

					// text-align: right;
					td {
						flex: 1;

						.td-left {
							width: 44px;
						}

						.td-right {
							width: 48px;
						}
					}
				}
			}

			.basic {
				img {
					flex-grow: 160px;
					flex-shrink: 0;
					height: 160px;
					width: 388px;
					background-color: #ebecf0;
				}

				.properties {
					flex: 1;
					font-size: 0;

					p span:first-child {
						@extend %p-primary;
					}

					p span:last-child {
						@extend %p-secondary;
					}

					&.properties:last-child {
						p span:first-child {
							min-width: 70px;
						}
					}
				}
			}

			.medic-access {
				.keys {
					@extend %p-small;
					margin-bottom: $spacing;
				}

				.values {
					@extend %p-primary;
				}
			}

			.others {
				&.dynamic {
					font-size: 0;

					.content {
						@extend %p-secondary;
					}
				}
			}
		}

		.sell {
			flex: 1;
			// &>div {
			// 	flex: 1;
			// }

			// .medic-access {
			// 	.keys {
			// 		margin-bottom: $spacing;
			// 		@extend %p-small;
			// 	}

			// 	.values {
			// 		@extend %p-primary;
			// 	}
			// }
			// height: 343px;
			height: 429px;

			.chart {
				// height: 321px;
				// height: 343px;
				height: 429px;
				// background-color: #A1C6E7;
			}
		}
	}
}
