{{#bp-dropdown widthSize="auto" as |dd|}}
	{{#dd.button}}
		{{#if tmpSr.id}}
			<p>{{tmpSr.representativeConfig.representative.name}}</p>
		{{else}}
			代表
		{{/if}}
		{{bp-icon icon='down'}}
	{{/dd.button}}
	{{#dd.menu as |menu|}}
		{{#each representatives as |rep|}}
			{{#menu.option value=rep
				onClick=(action (mut tmpSr))}}
				{{rep.representativeConfig.representative.name}}
			{{/menu.option}}
		{{/each}}
	{{/dd.menu}}
{{/bp-dropdown}}