:global(.resource-config-wrapper) {
	border-bottom: 1px solid #fafbfc;
}

.resource-list-outer {
	width: 368px;
	height: fit-content;

	.resource-item {
		height: 88px;
		width: 100%;
		font-size: 14px;
		color: $n800;
		text-align: left;
		// border-bottom: 1px solid #fafbfc;
		border-radius: 0;
		cursor: pointer;

		// &:last-child {
		// 	border-bottom: none;
		// }

		&.active {
			background-color: #ebecf0;
		}

		img {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			margin-right: 13px;
		}

		.item-left {
			.span-1 {
				font-size: 12px;
				color: $n100;
			}

			.span-2 {
				font-size: 16px;
				color: $n800;
			}
		}

		.item-right {
			.badge {
				background-color: #e1ecff;
				color: rgba(56, 129, 255, 1);
				font-size: 14px;
				font-weight: 400;
				margin-left: 4px;
				height: 20px;
				border-radius: 4px;

				svg {
					font-size: 18px;

					path {
						fill: rgba(56, 129, 255, 1);
					}
				}

				span {
					padding-left: 2px;
				}
			}

			.badge-changed {
				// background: #3881ff;
				background: $n400;
				color: #ffffff;
				font-size: 14px;
				font-weight: 400;
				margin-left: 4px;
				height: 20px;
				border-radius: 4px;

				svg {
					font-size: 18px;

					path {
						fill: #ffffff;
					}
				}

				span {
					padding-left: 2px;
				}
			}

			.hospital-badge {
				svg {
					margin-bottom: 2px;
				}
			}

			.remain {
				background-color: #ebecf0;
				color: #505f79;
				font-size: 14px;
				font-weight: 400;
				margin-left: 4px;
				height: 20px;
				border-radius: 4px;

				svg {
					font-size: 18px;
					padding-bottom: 2px;

					path {
						fill: #505f79;
					}
				}
			}
		}
	}
}

.wrapper {
	height: fit-content;
	width: 368px;
	background: #ebecf0;

	.representative-info {
		background: #ebecf0;
		height: fit-content;
		width: 100%;
		width: 368px;
		// padding-top: 12px;
		border-radius: 4px;

		.remain-time {
			width: 100%;

			.time {
				font-size: 12px;
				color: $n100;
			}

			.percent {
				span:first-child {
					font-size: 16px;
					color: $n800;
				}

				span:last-child {
					font-size: 12px;
					color: $n100;
				}
			}

			:global(.bp-progress) {
				height: 4px;

				:global(.bp-progress-bar) {
					background-color: $b200;
				}
			}
		}
	}

	.resource-hospital {
		border-radius: 4px;

		.hospital-time {
			.hospital-name {
				font-size: 14px;
				color: #344563;
				width: 84px;
				height: 20px;
				text-align: right;
			}

			&::after {
				content: "%";
				position: relative;
				margin-left: -20px;
				font-size: 14px;
				color: #344563;
			}
		}
	}
}
