.submit-header {
	height: 64px;
	background: #f4f5f7;

	.btn-list {
		:global(.dropdown-menu) {
			width: fit-content;
			min-width: 80px;
			margin-top: 8px;
			left: -30px !important;
			top: 20px;
		}
	}

	h4.title {
		font-size: 16px;
		color: #172b4d;
		height: 22px;
		line-height: 22px;
		margin-bottom: 0;
	}

	// .btn-left {
	// 	font-size: 14px;
	// 	color: #344563;
	// 	text-align: center;
	// 	line-height: 20px;
	// 	height: 20px;
	// 	width: 51px;
	// }

	.exit-btn {
		width: 32px;
		height: 32px;
		padding: 0;
		font-size: 32px;
	}

	.sub-title {
		font-size: 14px;
		color: #344563;
		text-align: center;
		line-height: 22px;
		height: 22px;
		background-color: #ebecf0;
		border-radius: 4px;
		margin-bottom: 0;
	}

	.btn-submit {
		font-size: 14px;
		color: #ffffff;
		letter-spacing: 0;
		text-align: center;
		line-height: 32px;
		height: 32px;
		width: 80px;
	}
}
