.product {

	.title {
		line-height: 52px;
		@extend %header-small;

		button {
			height: auto;
		}

		.icon {
			cursor: pointer;
		}

		span.type {
			margin: 0 12px 0 8px;
			padding: $spacing-compact 3*$spacing-compact;
			@extend %defaultRadius;

			&.self {
				@extend %p-secondary;
				color: #0049B0;
				background-color: #B3D4FF;
			}

			&.compete {
				@extend %p-secondary;
				background-color: $n030;
			}
		}

		span.cycle {
			@extend %p-secondary;
		}
	}


	.product-content {

		.left {
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;

			img {
				-webkit-box-flex: 0;
				-webkit-flex: 0 0 160px;
				-ms-flex: 0 0 160px;
				flex: 0 0 160px;
				height: 160px;
			}

			.product-infos {
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				-ms-flex: 1;
				flex: 1;
				font-size: 0;

				p>span:first-child {
					flex: 0 0 70px;
					margin-right: 2*$spacing;
					@extend %p-primary;
				}

				p span:last-child {
					-webkit-box-flex: 1;
					-webkit-flex: 1;
					-ms-flex: 1;
					flex: 1;
					@extend %p-secondary;
				}

			}
		}

		.right {
			-webkit-box-flex: 1;
			-webkit-flex: 1;
			-ms-flex: 1;
			flex: 1;

			.keys {
				@extend %p-primary;
			}

			.values {
				@extend %p-secondary;
			}
		}
	}
}
