.page-result {
	height: 100%;
	background-color: $n010;
	overflow: auto;

	.back-area {
		flex: 0 0 32px;
		@extend %p-small;
	}

	.result-header {
		flex: 0 0 76px;
	}

	.tabs-container {
		flex: 1;
	}
}
