{{common/nav-top-project}}
{{#bp-layout direction="col"}}
	{{#bp-layout local-class="congratulations" direction="row"}}
		{{#bp-layout direction="row" main="between"}}
			{{!-- {{bp-icon}} --}}
			{{#bp-layout}}恭喜你，完成本轮测试！{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout}}
			{{#bp-button}}返回主页{{/bp-button}}
		{{/bp-layout}}
	{{/bp-layout}}

	{{#bp-layout local-class="info" direction="row"}}
		{{#bp-layout direction="col" local-class="name"}}
			{{#bp-layout}}获得称号{{/bp-layout}}
			{{#bp-layout}}image{{/bp-layout}}
			{{#bp-layout}}黄金{{/bp-layout}}
		{{/bp-layout}}
		{{#bp-layout local-class="goal" direction="col"}}
			{{#bp-layout direction="row"}}
				<span>90</span>
				<span>%</span>
			{{/bp-layout}}
			{{#bp-layout direction="row"}}
				{{#bp-layout direction="col"}}
					{{#bp-layout}}2019Q1{{/bp-layout}}
					{{#bp-layout}}60%{{/bp-layout}}
				{{/bp-layout}}

				{{#bp-layout direction="col"}}
					{{#bp-layout}}2019Q1{{/bp-layout}}
					{{#bp-layout}}60%{{/bp-layout}}
				{{/bp-layout}}

				{{#bp-layout direction="col"}}
					{{#bp-layout}}2019Q1{{/bp-layout}}
					{{#bp-layout}}60%{{/bp-layout}}
				{{/bp-layout}}

			{{/bp-layout}}
		{{/bp-layout}}

		{{#bp-layout local-class="sales" direction="col"}}
			{{#bp-layout}}总销售额{{/bp-layout}}
			{{#bp-layout}}¥2,400,000{{/bp-layout}}
		{{/bp-layout}}

		{{#bp-layout direction="col" local-class="time"}}
			{{#bp-layout}}完成用时{{/bp-layout}}
			{{#bp-layout}}1小时30分钟{{/bp-layout}}
			{{#bp-layout}}完成时间{{/bp-layout}}
			{{#bp-layout}}2019-04-08 18:40{{/bp-layout}}
		{{/bp-layout}}

		{{#bp-layout local-class="btn"}}
				{{#bp-layout}}{{/bp-layout}}
				{{#bp-layout}}{{/bp-layout}}
				
		{{/bp-layout}}
	{{/bp-layout}}
{{/bp-layout}}